---
import Title from "../components/astro/Title.astro";
import Page from "../layouts/page.astro";
---

<Page pageTitle="Hello, WeAreDevs!">
  <!-- static content: H1 with text -->
  <h1 class="font-sans antialiased text-7xl text-sky-950 font-extrabold">
    Hello, #WeAreDevs!
  </h1>
</Page>
